
@{
    ViewBag.Title = "Index";
}

<div class="form-group">
    @Html.ValidationMessage("error", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.ValidationMessage("blocked", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.ValidationMessage("attempts", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.ValidationMessage("delay", new { @class = "text-danger" })
</div>

@if (ViewBag.PasswordMask == null)
{
    <form action="/masklogin/index" method="get">
        <h4>Wpisz login</h4>
        <hr />
        <div class="form-horizontal">


            <div class="form-group">
                @Html.Label("username", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("login")
                </div>
            </div>

        </div>
        <input type="submit" value="Dalej" class="btn btn-default" />
    </form>
}
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Logowanie" class="btn btn-default" />
            </div>
        </div>*@

    @if (ViewBag.PasswordMask != null)
    {

        <form action="/masklogin/login" method="get">
            <h4>Wypełnij pola</h4>
            <hr />
            
            @Html.TextBox("login", null, htmlAttributes: new { @class = "control-label col-md-2", @hidden = "hidden" })
            <table class="table">
                <tr>
                    @for (int i = 0; i < ViewBag.PasswordMask.Count; i++)
                    {
                        <th>@(i + 1)</th>
                    }
                </tr>
                <tr>

                    @for (int i = 0; i < ViewBag.PasswordMask.Count; i++)

                    {
                        if (ViewBag.PasswordMask[i])
                        {
                            <td>
                                <input type="text" size="1" maxlength="1" name="@("p" + (i+1))" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <input type="text" disabled="disabled" size="1" name="@("p" + (i+1))" />
                            </td>
                        }
                    }
                </tr>
            </table>

            <input type="submit" value="zaloguj" class="btn btn-default" />
        </form>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
